<div class="navbar-fixed">
   <nav>
     <div class="nav-wrapper">
       <a href="#!" class="brand-logo">DBC Overflow</a>
       <ul class="right hide-on-med-and-down">
         <li><a href="sass.html">Sass</a></li>
         <li><a href="badges.html">Components</a></li>
       </ul>
     </div>
   </nav>
 </div>


<% @questions.each do |question| %>
<div class="collection deep-orange accent-3">
  <a href="/posts/<%= question.id %>'" class="collection-item"><%= question.title %></a>
</div>
<% end %>

<!-- <% @questions.each do |question| %>
  <div class='question-container'>
    <article id="<%= question.id %>">
      <form method="question" action='/questions/<%= question.id %>/vote' class="inline">
        <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button upvote-button"></button>
      </form>
      <h2><a href='/questions/<%= question.id %>'><%= question.title %></a></h2>
      <p>
        <span class='points'><%= question.points %></span>
        <a class="delete" href='/questions/<%= question.id %>'></a>
      </p>
    </article>
  </div>
<% end %> -->

<form id="questions" method="question" action="/questions">
  <input type="text" name="title" placeholder="title">
  <input type="submit" value="submit new question">
</form>
