<header>
  <h1>DBC Overflow</h1>
  <p class="links">
    <a id="new" href="/new">new</a>
    <a id="comments" href="/comments">comments</a>
    <a id="popular" href="/popular">popular</a>
    <a href="#">login</a>
  </p>
</header>

<% @questions.each do |question| %>
  <div class='question-container'>
    <article id="<%= question.id %>">
      <form method="question" action='/questions/<%= question.id %>/vote' class="inline">
        <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button upvote-button"></button>
      </form>
      <h2><a href='/questions/<%= question.id %>'><%= question.title %></a></h2>
      <p>
        <span class='points'><%= question.points %></span>
        <a class="delete" href='/questions/<%= question.id %>'></a>
      </p>
    </article>
  </div>
<% end %>

<form id="questions" method="question" action="/questions">
  <input type="text" name="title" placeholder="title">
  <input type="submit" value="submit new question">
</form>
